$paymentButtonColor: #FF7653;

$primaryBlueColor: #0084D6;

$primaryDarkBlueColor: #3474B4;

$primaryLightGreyColor: #F7F7F7;

$greyBorderColor: #d0cdcd;

$faintBlackColor: rgba(0,0,0,0.6);

//$primaryDarkGreenBlueColor: #007991;

//$primaryDarkGreenBlueColor: #2e3650;

//$primaryLightBlackColor: #344754;

$primaryLightBlackColor: #344754;

//$primaryDarkGreenBlueColor: #f1ab5c;

$primaryDarkGreenBlueColor: #0e6fa4;

//$primaryDarkGreenBlueColor: #154c79;

$footerColor: #002552;

//#2b2b2b
